<div id="register_page">
  <div class="inner ">
    <div class="left">
      <div class="c-container">
        <a href="/" class="link d-flex-inline c-pointer mt-2">
          <img src="/assets/go_back.svg " alt="" />
          <span class="ml-1">Go back</span>
        </a>
        <div class="wrapper">
          <div>
            <h4 class=" heading text-primary mt-2">
              Register via email and phone
            </h4>
            <form>
              <input type="text" class="input-rounded" placeholder="First Name" />
              <input type="text" class="input-rounded" placeholder="Last Name" />
              <input type="email" class="input-rounded" placeholder="Email" />
              <input type="tel" class="input-rounded" placeholder="Phone Number (0806 000 000 000)" />
              <input type="password" class="input-rounded" placeholder="Password" />
              <input type="password" class="input-rounded" placeholder="Repeat Password" />
              <div class=" register-btn ">
                <button class="btn btn-dark btn-block">Register</button>
              </div>
              <p class="text-center small-text mt-1">
                Already have an account ?
                <a href="/" class="text-primary link">Signup</a>
              </p>
            </form>
            <div class="option-wrapper">
              <div class="ruller">
                <div class="line-left line"></div>
                <div class="or">or</div>
                <div class="line-right line"></div>
              </div>
              <div class="social-buttons">
                <button class="btn-social btn bg-white mb-1">
                  <img src="/assets/google_logo.svg" alt="signup_with_google" />
                  Via Google
                </button>
                <button class="btn-social btn bg-blue text-white mb-1">
                  <img src="/assets/facebook_icon.svg" alt="signup_with_facebook" />
                  Via Facebook
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right">
    </div>
  </div>
</div>
<footer id="footer_comp">
  <div class="container">
    <div class="inner">
      <div class="d-flex">
        <div class="item-list">
          <ul class="nav-menu">
            <li class="nav-heading heading text-white">Shop</li>
            <li><a href="/" class="nav-item">Categories</a></li>
            <li><a href="/" class="nav-item">Swap</a></li>
            <li><a href="/" class="nav-item">Bid</a></li>
          </ul>
        </div>
        <div class="item-list">
          <ul class="nav-menu">
            <li class="nav-heading heading text-white">Company</li>
            <li><a href="/" class="nav-item">About Us</a></li>
            <li><a href="/" class="nav-item">Career</a></li>
            <li><a href="/" class="nav-item">Blog</a></li>
          </ul>
        </div>
        <div class="item-list">
          <ul class="nav-menu">
            <li class="nav-heading heading text-white">Support</li>
            <li><a href="/" class="nav-item">Contact Us</a></li>
            <li>
              <a href="/how-it-works" class="nav-item">How it works</a>
            </li>
            <li><a href="/" class="nav-item">Terms & Conditions</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
