

<div id="how-it-works">
 <section class="header-banner wrapper-space sect-one top-padding">
        <div class="inner-div container">
            <div class="header-text">
                <h2 class="heading">How it Works</h2>
                <p class=" .small-text-light">Ready to get started? Here’s what you need to know</p>
            </div>
        </div>
    </section>

  

     <section class="sect-two wrapper-space">

        <div class="inner-div container">
            
            <div class="sect-items">
                <div class="img-box">
                    <div class="sec-title">
                        <h2 class="heading ">How to Sell on Easy</h2>
                    </div>
                    <img src="assets/How_to_sell_img@2x.png"  width="377" alt="" srcset="">
                </div>
                <div class="box-2">
                    <div class="item-content">
                        <div class="numb-div">
                            <h2 class="numb">1</h2>
                        </div>
                        <div class="para-content">
                            <p class="sub-heading">Open an account</p>
                            <p class="text-light">Register using your e-mail and phone number (Make sure the number is correct)</p>

                        </div>
                    </div>
                    <div class="item-content">
                        <div class="numb-div">
                            <h2 class="numb">2</h2>
                        </div>
                        <div class="para-content">
                            <p class="sub-heading">Take good photos</p>
                            <p class="text-light">Buyers like to see the item from every angle.</p>
                        </div>
                    </div>
                    <div class="item-content">
                        <div class="numb-div">
                            <h2 class="numb">3</h2>
                        </div>
                        <div class="para-content">
                            <p class="sub-heading">Describe the item fully</p>
                            <p class="text-light">Include brand and product name like “Apple iPhone”.</p>
                        </div>
                    </div>
                    <div class="item-content">
                        <div class="numb-div">
                            <h2 class="numb">4</h2>
                        </div>
                        <div class="para-content">
                            <p class="sub-heading">Place a good price</p>
                            <p class="text-light">Let your price be fair enough.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="sect-three wrapper-space">

        <div class="inner-div container">
            <div class="sec-title">
                <h2 class="heading ">How to Sell on Easy</h2>
            </div>
            <div class="sect-items">
                
                <div class="box-2">
                    <div class="item-content">
                        <div class="numb-div">
                            <h2 class="numb">1</h2>
                        </div>
                        <div class="para-content">
                            <p class="sub-heading">Search for the item</p>
                            <p class="text-light">Nullam quis risus eget urna mollis ornare vel eu leo. Curabitur blandit tempus porttitor.</p>

                        </div>
                    </div>
                    <div class="item-content">
                        <div class="numb-div">
                            <h2 class="numb">2</h2>
                        </div>
                        <div class="para-content">
                            <p class="sub-heading">Choose a payment option</p>
                            <p class="text-light">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                        </div>
                    </div>
                    <div class="item-content">
                        <div class="numb-div">
                            <h2 class="numb">3</h2>
                        </div>
                        <div class="para-content">
                            <p class="sub-heading">Order a delivery</p>
                            <p class="text-light">Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                        </div>
                    </div>

                    <div class="item-content">
                        <!-- <div class="numb-div">
                            <h2 class="numb">3</h2>
                        </div>
                        <div class="para-content">
                            <p class="sub-heading">Order a delivery</p>
                            <p class="text-light">Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                        </div> -->
                    </div>
                                    </div>
                <div class="img-box">
                    
                    <img src="assets/how_to_buy_img@2x.png"  width="377" alt="" srcset="">
                </div>
            </div>
        </div>
    </section>
    <section class="sect-four wrapper-space">

        <div class="inner-div container">
            
            <div class="sect-items">
                <div class="img-box">
                    
                    <img src="assets/how_to_swap_img@2x.png"  width="377" alt="" srcset="">
                </div>
                <div class="box-container">
                    <div class="sec-title">
                        <h2 class="heading ">How to Swap an Item on Easy</h2>
                    </div>
                    <div class="sect-3-box">
                    <div class="item-content">
                        <div class="numb-div">
                            <h2 class="numb">1</h2>
                        </div>
                        <div class="para-content">
                            <p class="sub-heading">Post the item</p>
                            <p class="text-light">Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>

                        </div>
                    </div>
                    <div class="item-content">
                        
                        <div class="numb-div">
                            <h2 class="numb">2</h2>
                        </div>
                        <div class="para-content">
                            <p class="sub-heading">Choose the desired item</p>
                            <p class="text-light">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                        </div>
                    </div>
                    <div class="item-content">
                        <div class="numb-div">
                            <h2 class="numb">3</h2>
                        </div>
                        <div class="para-content">
                            <p class="sub-heading">Then wait for a swap</p>
                            <p class="text-light">Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                        </div>
                    </div>
                    <div class="item-content">
                        <!-- <div class="numb-div">
                            <h2 class="numb">4</h2>
                        </div>
                        <div class="para-content">
                            <p class="sub-heading">Place a good price</p>
                            <p class="text-light">Let your price be fair enough.</p>
                        </div> -->
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="sect-five wrapper-space">
        <div class="inner-div container">
            <div class="quest-div" align="center">
                <h2 class="heading">Still Have Questions To Ask?</h2>
                <a href="http://" class="quest-btn">Check F.A.Qs</a>
            </div>
        </div>
    </section>
</div>