 <section class="sect-sign_up_in wrapper-space">
        <div class="content">
            <div class="left-sect" align="left">
                <div class="form-element-1">
                    <div class="back-btn">
                        <a href="http://"><img src="asset/go_back.svg" width="29"> <Span class="btn_text">Go Back</Span></a>
                    </div>
                    <div class="form-title">
                        <h2 class="heading">Register via email and phone</h2>
                    </div>
                </div>
                <div class="form-element-2" align="left">
                    <form action="" method="get" class="form-input" align="center">
                        <div class="form-container">
                       <div class="f-name">
                           <input type="text" name="f_name" id="first-name" placeholder="First Name">
                        </div>     
                        
                        <div class="l-name">
                            <input type="text" name="l_name" id="last-name" placeholder="Last Name">
                        </div>
                        <div class="email">
                            <input type="email" name="email" id="email" placeholder="E-mail Address">
                        </div> 
                        <div class="p-number">
                            <input type="tel" name="phone_number" id="phone-number" placeholder="Phone Number (0806 0000 000)">
                        </div>
                        <div class="password">
                            <input type="password" name="password" id="password" placeholder="Enter Password">
                        </div>
                        <div class="password">

                        </div>
                        <input type="password" name="confirm_password" id="confirm-password" placeholder="Repeat Password">
                        </div>
                        <div class="submit-btn" align="center">
                            <input type="submit" value="Register">
                            <div class="form-bottom-text">
                            <p class="text-regular">Already have an account? <a href="#" class="sign text-medium">Sign in</a></p>
                            </div>
                        </div>
                        
                        
                        </div>
                    </form>
                    <div class="after-form-element" align="center">
                    
                    <div class="text-inbetween-line">
                        <p class="line">or</p>
                    </div>
                    <div class="sign-up-with">
                        <a href="http://" class="sign-g sign-btn"><img src="asset/google_logo.svg" width="30" >via Google</a>
                        <a href="http://"class="sign-f sign-btn"><img src="asset/facebook_icon.svg" width="30" >via Facebook</a>
                    </div>
                    </div>
                </div>
                <div class="right-sect">
                    <!-- <img src="asset/Side_login_img@2x.jpg" width="100%" height="700" alt="" srcset=""> -->
                </div>
            
            
        </div>
    </section>