#footer_comp {
	background: url("/assets/footer_bg@2x.png") no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 1rem;
	height: 100%;
	width: 100%;

	.inner {
		display: flex;
		height: 100%;
		flex-direction: column;
		justify-content: center;
		padding: 3rem 0;
		width: 100%;
		max-width: 768px;
		margin: auto;
		.d-flex {
			.nav-menu {
				list-style: none;
				.nav-heading {
					text-transform: uppercase;
					margin-bottom: 1.2rem;
				}
				li {
					margin-bottom: 0.7rem;
					.nav-item {
						color: white;
						text-decoration: none;
						&:hover {
							font-weight: 600;
						}
					}
				}
			}
			@media (min-width: 768px) {
				display: flex;
				justify-content: space-between;
			}
		}
	}
}
