// Local helpers

// Actual Style

#register_page {
  height: 100%;

  .inner {
    height: 100vh;
    .right {
      display: none;
    }
    .left {
      flex: 1;
      .c-container {
        width: 100%;
        max-width: 568px;
        margin: auto;
      }

      .wrapper {
        height: 100vh;

        display: flex;
        justify-content: center;
        flex-direction: column;

        h4 {
          margin: 3rem 0;
        }
        form {
          width: 100%;
          min-width: 100%;
          input {
            width: 100%;
            max-width: 100%;
            display: block;
            border-radius: 10px;
            padding: 5px 0;
            margin-bottom: 7px;
            border: 1px solid $gray;
            padding-left: 8px;
            box-sizing: border-box;
            height: 50px;
          }
          .register-btn {
            margin-top: 25px;
            button {
              height: 50px;
              font-size: 18px;
              transition: background 0.5s;

              &:hover {
                background: $primary;
              }
            }
          }
        }
        .ruller {
          margin-top: 2rem;
          margin-bottom: 2rem;
          display: flex;
          width: 100%;
          align-items: center;
          .line {
            height: 2px;
            background: $gray;
            width: 100%;
          }
          .or {
            margin: 0 0.4rem;
          }
        }
      }
      @media screen and (max-width: 568px) {
        .social-buttons {
          .btn {
            width: 100%;
          }
        }
      }
    }
    @media (min-width: 768px) {
      display: flex;
      flex-basis: 100%;
      .wrapper {
        max-width: 568px;
        .social-buttons {
          display: flex;
          align-items: center;
          box-sizing: border-box;
          justify-content: space-between;
          width: 100%;
          margin-bottom: 1rem;
        }
      }
      .right {
        display: block;
        background: url("/assets/Side_login_img@2x.jpg") no-repeat;
        background-position: center;
        background-size: cover;
        width: 50%;
      }
    }
  }
}
